#Ignore these directories:
#data/*.fcs
intermediate/
results/
manuscript/

#Data exceptions:
#!data/*.toml

#Ignore temporary files:
*.tmp
*.fcs

#ignore other files:
.DS_Store
data/.Rhistory
pymol.toml
supplementary.html
supplementary.rmd